{%load static%}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>DELICIOUS HUB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Cemre Tellioğlu Tunçay">

        <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto&display=swap'%}" rel="stylesheet">
        <link href="{% static 'https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext'%}" rel="stylesheet">
        <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins&display=swap'%}" rel="stylesheet"> 
        <!-- Place favicon.ico in the root directory -->
       <!-- <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png'%}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png'%}" sizes="16x16" />-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/reset.css'%}">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" href="{% static 'css/animate.css'%}">
        <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js'%}"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Header Area Start -->
		<header class="top">
                  <div class="fixedArea">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="content-wrapper one">
                                <!-- Main Menu Start -->
                                <!-- Navbar-->
                                <header class="header">
                                    <nav class="navbar navbar-default myNavBar">
                                        <div class="container">

                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <div class="row">
                                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                                        <div class="row">
                                                            <div class="col-md-3 col-xs-3 col-sm-3">
                                                                <!---
                                                                  top  logo 
                                                                <a style="padding-top:0px;" class="navbar-brand navBrandText text-uppercase font-weight-bold" href="index.html"><img src="img/logo/cemrebakerylogo.png" alt="restorant" /></a>
                                                                -->
                                                            </div>
                                                            <div class="col-md-9 col-sm-9 col-xs-9">
                                                                <a href="{% static 'index.html'%}"><img class="{% static 'img-responsive logo'%}" src="{% static 'img/logo/cemrebakerytextlogolight.png'%}" alt="restorant" /></a>
                                                                
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                            <span class="sr-only">Toggle navigation</span>
                                                            <span class="icon-bar"></span>
                                                            <span class="icon-bar"></span>
                                                            <span class="icon-bar"></span>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                                     
                                            <!-- Collect the nav links, forms, and other content for toggling -->
                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                            <ul class="nav navbar-nav navbar-right navBar">
                                                    <li class="nav-item"><a href="#section0" class="nav-link text-uppercase font-weight-bold js-scroll-trigger">Home <span class="sr-only">(current)</span></a></li>
                                                    <li class="nav-item"><a href="#section1" class="nav-link text-uppercase font-weight-bold js-scroll-trigger">Offers</a></li>
                                                    <li class="nav-item"><a href="#section2" class="nav-link text-uppercase font-weight-bold js-scroll-trigger">About</a></li>
                                                    <li class="nav-item"><a href="#section3" class="nav-link text-uppercase font-weight-bold js-scroll-trigger">Portfolio</a></li>
                                                    <li class="nav-item"><a href="#section4" class="nav-link text-uppercase font-weight-bold js-scroll-trigger">Testimonial</a></li>
                                                    <li class="nav-item"><a href="#section5" class="nav-link text-uppercase font-weight-bold js-scroll-trigger">Blog</a></li>
                                                    <li class="nav-item"><a href="#section6" class="nav-link text-uppercase font-weight-bold js-scroll-trigger">Contact</a></li>
                                                    <li class="nav-item"><a href="#section7" class="nav-link text-uppercase font-weight-bold js-scroll-trigger">Address</a></li>


                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                </header>
                                <!-- Main Menu End -->
                            </div>
						</div>
                  </div>
			</div>
		</header>
		<!-- Header Area End -->
	
       
		<!-- Section0 Area End -->
        <!-- Section1 Start -->
        <section id="section1" class="topOff">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body colorfullPanel text-center">
                                <h3>Upp to %15 off</h3>
                                <h2><span>June</span> Special Offer
                                    <img class="classic" src="{% static 'img/new/icon.png'%}">

                                    </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis leo vitae lacinia congue.</p>                            
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="panel panel-default colorfullParent">
                            <div class="panel-body colorfullPanel text-center">
                                <h3>Are You New Here?</h3>
                                <h2><span>Learn</span> About Us
                                    <img class="classic" src="{% static 'img/new/icon.png'%}">

                                    </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis leo vitae lacinia congue.</p>                            
                                    </div>
                          </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body colorfullPanel text-center">
                                <h3>Are You New Here?</h3>
                                <h2><span>Learn</span> About Us
                                    <img class="classic" src="{% static 'img/new/icon.png'%}">

                                    </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis leo vitae lacinia congue.</p>                            
                                    </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section1 End -->
        <!-- Section2 Start -->
        <section id="section2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="maintext text-center">
                            <span>Serve You Since 1988</span>
                            <h2>Welcome To Cemre Bakery</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis leo vitae lacinia congue.</p>                        
                            </div>  
                    </div>
                </div>
                <div class="row shapes">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 minHeightProp">
                                <img class="imgback" src="{% static 'img/shape/shape1.png'%}">
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <span>Serve You Since 2019</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis leo vitae lacinia congue.</p>                                
                                    </div> 
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 minHeightProp">
                                <img class="imgback" src="{% static 'img/shape/shape2.png'%}">
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <span>Serve You Since 1988</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis leo vitae lacinia congue.</p>
                                </div> 
                            </div> 
                        </div> 
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 minHeightProp">
                                <img class="imgback" src="{% static 'img/shape/shape3.png'%}">
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <span>Serve You Since 2019</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis leo vitae lacinia congue. </p>
                                </div> 
                            </div> 
                        </div>  
                    </div>
                </div>
            </div>
        </section>
        <!-- Section2 End -->
        <!-- Banner Start -->

        <div class="container">
            <div class="banner"
            style="background-image: url('img/new/1170x268.png');">
                <div class="content text-center">
                    <span>NEW CAKE!!! GET IT FOR $12/PAX (LIMITED)</span>
                    <h2>Strawberry Pancake</h2>
                    <h3>SHOP NOW</h3>
                    <img class="classic" src="img/new/icon.png">
                </div>
            </div>
        </div>
        <!-- Banner End -->
        <!-- Section3 Start -->
        <section id="section3">
            <div class="container">

                <div class="row">
                     <div class="col-xs-12">
                        <div class="section-title text-center">
                            <h3>Premium Quality</h3>
                            <h2>Cemre Bakery Fresh Cakes</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="container">
                        <div class="col-md-12 noPadding">
                            <div id="news-slider" class="news-slider owl-theme owl-carousel">
                                <div class="post-slide">
                                    <div class="post-img">
                                        <div class="post-abs"><p>Progresso İtalian Style</p></div>
                                        <img src="{% static 'img/new/productnew.png'%}" alt="">
                                    </div>
                                    <h3 class="post-title"><a href="#">Progresso İtalian Style</a></h3>
                                    <p class="post-description">
                                       12$
                                    </p>
                                </div>
                 
                                <div class="post-slide">
                                    <div class="post-img">
                                        <div class="post-abs"><p>Progresso İtalian Style</p></div>
                                        <img src="{% static 'img/new/productnew.png'%}" alt="">

                                    </div>
                                    <h3 class="post-title"><a href="#">Progresso İtalian Style</a></h3>
                                    <p class="post-description">
                                       12$
                                    </p>
                                </div>
                                
                                <div class="post-slide">
                                    <div class="post-img">
                                        <div class="post-abs"><p>Progresso İtalian Style</p></div>
                                        <img src="{% static 'img/new/productnew.png'%}" alt="">

                                    </div>
                                    <h3 class="post-title"><a href="#">Progresso İtalian Style</a></h3>
                                    <p class="post-description">
                                       12$
                                    </p>
                                </div>
                                
                                <div class="post-slide">
                                    <div class="post-img">
                                        <div class="post-abs"><p>Progresso İtalian Style</p></div>
                                        <img src="{% static 'img/new/productnew.png'%}" alt="">

                                    </div>
                                    <h3 class="post-title"><a href="#">Progresso İtalian Style</a></h3>
                                    <p class="post-description">
                                       12$
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section3 End -->
        <!-- Testimonial Area Start -->
        <section id="section4" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/slider/1900x1000.png'%}">
            <h3>What We Say</h3>
            <h2>Customer Testimonial</h2>
        <div class="testimonial-area owl-theme owl-carousel" >
               
            <div class="col-md-12 col-sm-12 col-xs-12 noPadding text-center">
                

                <div class="single-testimonial">
                    <div class="testimonial-info">
                        <div class="testimonial-content">
                            <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual</p>
                            <h4>David Morgan</h4>
                            <h5>Student, CSE</h5>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-md-12 col-sm-12 col-xs-12 noPadding text-center">
                <div class="single-testimonial">
                    <div class="testimonial-info">
                        <div class="testimonial-content">
                            <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual</p>
                            <h4>David Morgan</h4>
                            <h5>Student, CSE</h5>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-md-12 col-sm-12 col-xs-12 noPadding text-center">
                <div class="single-testimonial">
                    <div class="testimonial-info">
                        <div class="testimonial-content">
                            <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual</p>
                            <h4>David Morgan</h4>
                            <h5>Student, CSE</h5>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        </section>
        <!-- Testimonial Area End -->
        <!-- Blog Area Start -->
        <section id="section5" class="blog-area">
            <div class="row">
                    <div class="col-xs-12">
                        <div class="blog-section-title text-center">
                            <h3>Cemre Bakery Blog</h3>
                            <h2>Our Latest News</h2>
                        </div>
                    </div>
                <div class="row">
                    <div class="container blog-section">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="blog-section-date col-md-4 col-sm-4 col-xs-12 noPadding">

                                        <p class="month">June</p>
                                        <p class="date">6.6.1986</p>


                                    </div>
                                    
                                    <div class="blog-section-description col-md-8 col-sm-8 col-xs-12 noPadding">
                                        <h2>I must explain to you how all this mistaken </h2>
                                        <p>idea of denouncing pleure and praising pain was born and I will give you a complete account of the system</p>
                                        
                                        <a href="">Shop</a>

                                    </div>                            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="blog-section-date col-md-4 col-sm-4 col-xs-12 noPadding">

                                        <p class="month">June</p>
                                        <p class="date">6.6.1986</p>


                                    </div>
                                    
                                    <div class="blog-section-description col-md-8 col-sm-8 col-xs-12 noPadding">
                                        <h2>I must explain to you how all this mistaken </h2>
                                        <p>idea of denouncing pleure and praising pain was born and I will give you a complete account of the system</p>
                                        <a href="">Shop</a>

                                    </div>                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- Blog Area End -->
        <!-- Contact Start -->
        <section id="section6" class="contact">
            <div class="contact100-form-title container">
                <h3>Keep In Touch</h3>
                <h2>Send A Message</h2>
                    <form class="contact100-form validate-form">
                       

                        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
                            <span class="label-input100">Your Name</span>
                            <input class="input100" type="text" name="name" placeholder="Enter your name">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            <span class="label-input100">Email</span>
                            <input class="input100" type="text" name="email" placeholder="Enter your email addess">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Message is required">
                            <span class="label-input100">Message</span>
                            <textarea class="input100" name="message" placeholder="Your message here..."></textarea>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-contact100-form-btn">
                            <button class="contact100-form-btn">
                                <span>
                                    Submit
                                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>

                        <div class="container-contact100-form-btn response" style="margin-top: 30px;">
                            <p class="error">
                            </p>
                        </div>
                    </form>
                </div>
        </section>
        <!-- Contact End -->
        <!-- Address Section Start -->
        <section id="section7" class="row address parallax-window" data-parallax="scroll" data-image-src="{% static 'img/slider/1900x1000.png'%}">
            <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-5 col-md-offset-1 addess-description">
                            <span>CemreBakery Location</span>
                            <h2>CemreBakery Address</h2>
                            <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born.</p>
                            <ul>
                                <li class="address-section">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                            <i class="fa fa-address-card"></i>
                                        </div>
                                        <div class="col-md-10 col-sm-10 col-xs-10 lineHeight">
                                            Primary:Lorem Ipsum Dolar<br>Second:Lorem Ipsum Dolar
                                        </div>
                                    </div>
                                </li>
                                <li class="address-section">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                            <i class="fa fa-phone"></i>                                       
                                         </div>
                                         <div class="col-md-10 col-sm-10 col-xs-10 lineHeight">
                                            Primary:Lorem Ipsum Dolar<br>Second:Lorem Ipsum Dolar
                                        </div>
                                    </div>
                                    </li>
                                <li class="address-section">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                            <i class="fa fa-envelope"></i>                                       
                                        </div>
                                        <div class="col-md-10 col-sm-10 col-xs-10 lineHeight">
                                            Primary:Lorem Ipsum Dolar<br>Second:Lorem Ipsum Dolar
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 addess-map">
                            <div id="map"></div>
                        </div>
            </div>
        </div>
        </section>

        <!-- Adress Section End -->
        <!-- Footer Start -->
        <footer class="footer-area">
            <div class="container main-footer">
                
                <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-widget pr-60">
                                <div class="footer-logo pb-25">
                                    <div class="col-md-4 noPadding text-center">
                                        <a class="" href="{% static 'index.html'%}"><img class="img-responsive" src="{% static 'img/logo/cemrebakerylogo.png'%}" alt="restorant" /></a>
                                    </div>
                                    <div class="col-md-8 noPadding logo-text">
                                        <a class="" href="{% static 'index.html'%}"><img class="img-responsive" src="{% static 'img/logo/cemrebakerytextlogo.png'%}" alt="restorant" /></a>
                                        <p class="colorfullText">Fresh Bakery Store</p>
                                    </div>        
                                </div>
                                <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and give you a coete account of the system. </p>
                                <div class="footer-social">
                                    <ul class="list-group">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    </ul>    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-widget">
                                <h3>information</h3>
                                <p class="lock"></p>
                                <ul>
                                    <li class="footer-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                                                <div class="footer-icon"></div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10">
                                                <a href=""><p>About Our Shop</p></a>
                                            </div>
                                        </div>
                                    </li>                                    
                                    <li class="footer-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <div class="footer-icon"></div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10">
                                                <a href=""><p>Top Sellers</p></a>
                                            </div>
                                        </div>
                                    </li>                                
                                    <li class="footer-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <div class="footer-icon"></div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10">
                                                <a href=""><p>Our Blog</p></a>
                                            </div>
                                        </div>
                                    </li> 
                                    <li class="footer-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <div class="footer-icon"></div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10">
                                                <a href=""><p>New Products</p></a>
                                            </div>
                                        </div>
                                    </li>                                     
                                    <li class="footer-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <div class="footer-icon"></div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10">
                                                <a href=""><p>Secure Shopping</p></a>
                                            </div>
                                        </div>
                                    </li>                               
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-widget">
                                <h3>useful links</h3>
                                <p class="lock"></p>
                                <ul>
                                    <li class="footer-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <div class="footer-icon"></div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10">
                                                <a href=""><p>About Our Shop</p></a>
                                            </div>
                                        </div>
                                    </li>                                    
                                    <li class="footer-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <div class="footer-icon"></div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10">
                                                <a href=""><p>Top Sellers</p></a>
                                            </div>
                                        </div>
                                    </li>                                
                                    <li class="footer-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <div class="footer-icon"></div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10">
                                                <a href=""><p>Our Blog</p></a>
                                            </div>
                                        </div>
                                    </li> 
                                    <li class="footer-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <div class="footer-icon"></div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10">
                                                <a href=""><p>New Products</p></a>
                                            </div>
                                        </div>
                                    </li>                                     
                                    <li class="footer-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <div class="footer-icon"></div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10">
                                                <a href=""><p>Secure Shopping</p></a>
                                            </div>
                                        </div>
                                    </li>                               
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-widget">
                                <h3>get in touch</h3>
                                <p class="lock"></p>
                                <p>Your address goes here, Street<br>City, Roadno 785 New York</p>
                                <p>+880  548  986  898  87<br>+880  659  785  658  98</p>
                                <ul>
                                    <li class="address-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <i class="fa fa-address-card"></i>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding">
                                                <span>Primary:Lorem Ipsum Dolar Sıt</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="address-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <i class="fa fa-phone"></i>                                       
                                             </div>
                                             <div class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding">
                                                <span>Primary:Lorem Ipsum Dolar Sıt</span>
                                            </div>
                                        </div>
                                        </li>
                                    <li class="address-section">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <i class="fa fa-envelope"></i>                                       
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 single-widget-description noPadding">
                                                <span>Primary:Lorem Ipsum Dolar Sıt</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>   
            <div class="footer-bottom text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Copyright © <a href="{% static 'https://ghousesaleem.pythonanywhere.com'%}" target="_blank">GHOUSE SALEEM</a> 2020. All Right Reserved By SOHAIL SALEEM.</p>
                        </div> 
                    </div>
                </div>    
            </div>
        </footer>
        <!-- Footer End -->
        <script src="{% static 'js/vendor/jquery-1.12.0.min.js'%}"></script>
        <script src="{% static 'js/jquery-easing/jquery.easing.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/parallax.min.js'%}"></script>
        <script src="{% static 'js/ajax-mail.js'%}"></script>
        <script src="{% static 'js/owl.carousel.min.js'%}"></script>
        <script src="{% static 'js/jquery.nicescroll.min.js'%}"></script>
        <script src="{% static 'js/main.js'%}"></script>
        <script async defer
        src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDyIMWhs-crjT0yhctbRjfJFq75FlEhSzE&callback=initMap'%}">
        </script>
    </body>
</html>
